---
name: Release Drafter

'on':
  push:
    # branches to consider in the event; optional, defaults to all
    branches:
      - master
    tags:
      - 'v*'

jobs:
  update_release_draft:
    runs-on: ubuntu-latest
    steps:
      # Draft release notes as PRs merge into master.
      - uses: release-drafter/release-drafter@v5
        with:
          config-name: release-drafter.yml
          disable-autolabeler: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
